.header {
  height: 150px;
}

.banner {
  height: 250px;
}

.box-shadow {
  box-shadow: -2px 2px 1px black;
}

.box-shadow-lime {
  box-shadow: -1px 1px 1px rgb(50,205,50);
}

.vert {
  border-left: 1px solid black;
}
