.header {
  height: 150px;
}

.banner {
  height: 250px;
}

.box-shadow {
  box-shadow: -1px 1px black;
}

.box-shadow-lime {
  box-shadow: -3px 3px 1px #D6ED17FF;
}

.vert {
  border-left: 1px solid black;
}
