.bg-red {
  background-color: red;
}

.bg-pale-blue {
  background-color: rgba(161, 206, 255, 0.85);
}

.bg-pale-white {
  background-color: #F5F5DC;
}

.bg-halogen {
  background-color: rgb(255, 241, 224);
}

.bg-grey {
  background-color: rgb(80,80,80);
}

.bg-lime {
  background-color: rgb(191, 255, 0);
}

.text-lime {
  color: rgb(191, 255, 0);
}

.text-grey {
  color: rgb(80,80,80);
}
