.bg-red {
  background-color: red;
}

.bg-pale-blue {
  background-color: rgba(161, 206, 255, 0.85);
}

.bg-pale-white {
  background-color: #F5F5DC;
}

.bg-halogen {
  background-color: rgb(255, 241, 224);
}

.bg-grey {
  background-color: #505050;
}

.bg-lime {
  background-color: #BFFF00;
}

.text-lime {
  color:#BFFF00;
}

.text-grey {
  color: #505050;
}
