.monda {
  font-family: 'Monda';
}

.roboto {
  font-family: 'Roboto';
}

.small {
  font-size: 1em;
}

.small-medium {
  font-size: 1.1em;
}

.medium {
  font-size: 2em;
}

.large {
  font-size: 3em;
}

.justify {
  text-align: justify;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.pop-light {
  text-shadow: 2px 1px 1px black;
}
